<h2>Edit Your Item</h2>

<form action="/items/<%= @item.id %>" method="post">
    <input type="hidden" name="_method" value="PATCH">
    <label for="name">Name: </label>
    <input type="text" name="name" value="<%= @item.name %>">

    <br>
    <br>

    <label for="description">Description: </label>
    <textarea name="description" style="width:auto; height:auto;"><%= @item.description %></textarea>

    <br>
    <br>

    <input type="submit" value="Edit Your Item">

</form>