<h2><%= @item.name %></h2>
<%= @item.description %>
<br>
<br>
<a href="/items/<%= @item.id %>/edit">Edit Item</a>
<br>
<br>
<form action="/item/<%= @item.id %>" method="post">
    <input type="hidden" name="_method" value="DELETE">
    <input type="submit" value="Delete Item">
</form>