<h1>Become a HouseBoss!</h1>

<br>

<form action="/users" method="post">

    <label for="name">Name: </label>
    <input type="text" name="name" value="">

    <br>
    <br>

    <label for="email">Email: </label>
    <input type="text" name="email" value="">

    <br>
    <br>

    <label for="password">Password: </label>
    <input type="text" name="password" value="">

    <br>
    <br>

    <input type="submit" value="Create HouseBoss">

</form>
<br>
Already a HouseBoss? <a href="/login">Log in.</a>