<h1>Welcome to HouseBoss!</h1>

<br>
<br>

<h3>Use HouseBoss to keep track of everything your household needs.

<br>
<br>

<a href="/signup">Sign up</a> to get started!

<br>

<a href="/login">Log in</a> and catch up!
</h3>